/* Estilos mejorados para el menú de navegación móvil */

.menuMobile {
  position: fixed;
  inset: 0;
  background: linear-gradient(135deg, rgba(20, 20, 20, 0.60), rgba(10, 10, 10, 0.95));
  backdrop-filter: blur(12px);
  z-index: 1000;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  opacity: 0;
  transform: translateX(-100%);
  transition: opacity 0.4s ease;
  pointer-events: none;

}

.menuMobile.show {
  opacity: 1;
  animation: slideInBounce 0.5s ease-out forwards;
  pointer-events: auto;
}

.menuMobile.hide {
  opacity: 0;
  animation: slideOut 0.3s ease forwards;
}

.menuMobile-ul {
  list-style: none;
  padding: 0;
  text-align: left;
  position: absolute;
  top: 20%;
  left: 20%;
}

.menuMobile-ul li {
  margin: 1.2em 0;
  transform: translateX(-20px);
  opacity: 1;
}




.menuMobile-ul li:nth-child(1) { animation-delay: 0.1s; }
.menuMobile-ul li:nth-child(2) { animation-delay: 0.2s; }
.menuMobile-ul li:nth-child(3) { animation-delay: 0.3s; }
.menuMobile-ul li:nth-child(4) { animation-delay: 0.4s; }

.menuMobile-ul li a {
  color: #ffffff;
  font-size: 15px;
  font-weight: 400;
  text-transform: uppercase;
  letter-spacing: 1px;
  text-decoration: none;
  transition: color 0.3s ease;
  position: relative;
}


.close-mobile-menu-button {
  position: absolute;
  top: 40px;
  right: 35px;
  background: none;
  border: none;
  cursor: pointer;
  transform: scale(1);
  transition: transform 0.2s ease;
}



@keyframes slideInBounce {
  0% {
    transform: translateX(-100%);
  }
  80% {
    transform: translateX(10px); /* Rebote hacia la derecha */
  }
  100% {
    transform: translateX(0);
  }
}

@keyframes slideOut {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-100%);
  }
}


@media screen and (max-width: 767px) {
  .menuDesk {
      display: none;
  }
}

@media screen and (min-width: 768px) {
  .menuMobile {
      display: none;
  }
}
