.li-social {
    transition: transform 0.3s ease-out;
    cursor: pointer; /* cursor pointer to indicate it's clickable */
  }

  .li-social img {
    transition: all 0.3s ease-out;
    font-size: 18px;

  }
  
  .li-social:hover img {
    filter: invert(48%) sepia(110%) saturate(240%) hue-rotate(86deg) brightness(118%) contrast(119%);
  }