.li-social {
    transition: transform 0.3s ease-out;
    cursor: pointer; /* cursor pointer to indicate it's clickable */
  }

  .li-social img {
    transition: transform 0.6s ease-out;
    font-size: 18px;
  }
  
  .li-social:hover img {
    transform: rotate(360deg); /* rotate the icon 360 degrees */
  }