#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}


/*utilities*/

.nav-texto-resposive {
  font-size: 16px;
}


@media screen and (max-width: 900px) {
  .nav-texto-resposive {
    font-size: 14px;
  }
}

@media screen and (max-width: 850px) {
  .nav-texto-resposive {
    font-size: 12px;
  }
}


/*boton animado*/
.button {
  text-decoration: none;
  text-transform: uppercase;
  font-weight: 600;
  font-size: 16px;

  display: inline-block;
  position: relative;
  text-align: center;
  color: var(--col-primary);

  box-shadow: 0 0 0 0 transparent;
  transition: all 0.2s ease-in;
}

.button:hover {
  color: white;
  box-shadow: 0 0 10px 0 rgba(0, 199, 236, 0.5);
  background-color: var(--col-primary);
  transition: all 0.2s ease-out;
}

.button:hover::before {
  animation: shine 0.5s 0s linear;
}

.button:active {
  box-shadow: 0 0 0 0 transparent;
  transition: box-shadow 0.2s ease-in;
}

.button::before {
  content: '';
  display: block;
  width: 0px;
  height: 86%;
  position: absolute;
  top: 7%;
  left: 0%;

  opacity: 0;
  background: white;
  box-shadow: 0 0 15px 3px white;
  transform: skewX(-20deg);
}

@keyframes shine {
  from {
    opacity: 0;
    left: 0%;
  }

  50% {
    opacity: 1;
  }

  to {
    opacity: 0;
    left: 100%;
  }
}


